body {
    text-align: center;
}

h3 {
    margin-bottom: 0px;
    font-size: large;
}

button {
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 7px;
    margin: 5px;
    padding: 7px;
    cursor: pointer;
}

button:hover {
    border: 2px solid blue;
    margin: 3px;
}

p {
    border-bottom: 2px solid black;
}