body{
    text-align: center;
}
button {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 7px;
}

.hidden{
    display: none;
}